<div class="row">
<h1 class="text-center">Bread Crumb</h1>
	<div>
		<h3><a href="http://www.w3schools.com/bootstrap/tryit.asp?filename=trybs_ref_comp_breadcrumb&stacked=h">Simple Bread Crumb</a></h3>
		<div>
			<h2>Breadcrumbs</h2>
		  <ol class="breadcrumb">
		    <li><a ui-sref="/breadcrumb">Home</a></li>
		    <li><a ui-sref="/breadcrumb">Private</a></li>
		    <li><a ui-sref="/breadcrumb">Pictures</a></li>
		    <li class="active">Vacation</li>        
		  </ol>
		</div>
	</div>
	<div>
		<h3><a href="https://github.com/ncuillery/angular-breadcrumb">angular-breadcrumb</a></h3>
		<div>
		<a ui-sref="breadcrumb1">breadcrumb1</a><br>
		<a ui-sref="breadcrumb2">breadcrumb2</a><br>

		</div>
		<div class="panel panel-info">
		<h4>Ex: angular-breadcrumb
		<small>
		<a href="https://github.com/ncuillery/angular-breadcrumb" target="_blank" class="reference">
		Reference Book  <span class="glyphicon glyphicon-bookmark"></span>
		</a>
		</small></h4>
		</div>
	</div>
</div>