
<div class="row">
<div class="clearfix">&nbsp;</div>
<div class="col-xs-12 col-md-6">
<div ui-view="viewA"></div>

<div class="panel panel-info">
<h4>Ex: Bootstrap Carousel
<small>
<a href="https://getbootstrap.com/javascript/#carousel" target="_blank" class="reference">
Reference Book  <span class="glyphicon glyphicon-bookmark"></span>
</a>
</small></h4>
</div>

</div>

<div class="col-xs-12 col-md-6">
<div ui-view="viewB"></div>

<div class="panel panel-info">
<h4>Ex: Angular Bootstrap Carousel
<small>
<a href="https://angular-ui.github.io/bootstrap/#/carousel" target="_blank" class="reference">
Reference Book  <span class="glyphicon glyphicon-bookmark"></span>
</a>
</small></h4>
</div>

</div>

</div>