<div class="row">
<h1 class="text-center">Responsive Iframe</h1>
<div class="col-lg-3 col-md-3 col-sm-12">
<ul class="nav nav-pills">
  <li role="presentation">
  <a href="http://www.w3schools.com" target="iframe_responsive">www.w3schools.com</a>
  </li>
  <li role="presentation">
  <a href="http://www.tutorialspoint.com" target="iframe_responsive">www.tutorialspoint.com</a>
  </li>
  <li role="presentation" >
  <a href="https://www.angularjs.org" target="iframe_responsive">angularjs.org</a>
  </li>
  <li role="presentation" >
  <a href="http://localhost:8080/index.html#/carousel" target="iframe_responsive"> Bootstrap Carousel</a>
  </li> 
</ul>
</div>
<div class="col-lg-9 col-md-9 col-sm-12 embed-responsive embed-responsive-16by9">
<div class="embed-responsive-16by9">
 <iframe class="embed-responsive-item" name="iframe_responsive" frameborder="0" src="http://www.w3schools.com">
 </iframe>
 </div>
 </div>
</div>